<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">        

<p-panel header="Listado de Inscripciones">
<p-dataView  #dataView [value]="inscripciones" [paginator]="true" [rows]="10"
    [lazy]="true"  (onLazyLoad)="loadData($event)" paginatorPosition="both"
     [totalRecords]="totalLazyInscripcionesLength">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4" style="display: inline-flex">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar Por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                    <div style="position:relative"><p-toggleButton  onIcon="fa fa-sort-desc"
                            (onChange)="onSortChange($event)"
                            offIcon="fa fa-sort-asc" onLabel="" ofLabel=""  
                            [(ngModel)]="ascSort"></p-toggleButton></div>
                </div>
                
                    
                
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="text"  [formControl]="searchControl"  placeholder="Filtrar por " />
                        
                    </div>
                </div>
                <!--div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div-->
            </div>
        </div>
    </p-header>
    <p-footer>Seleccione uno de la lista.</p-footer>
    <ng-template let-insc pTemplate="listItem">
        <div class="ui-g-12">
            <div class="item-details">
                <div>
                <div class="ui-g">
                    <div class="ui-g-12">Id: <b><a [routerLink]="['/user','edit',insc?.id]" >{{insc?.id}}</a></b></div>
                    
                    <div class="ui-g-12">Apellido: <b>{{insc.apellido}}</b></div>
                    <div class="ui-g-12">Nombre: <b>{{insc.nombre}}</b></div>
                    
                </div>    
                </div>
            </div>
        </div>
    </ng-template>
    <!--ng-template let-insc pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="insc.id" [style]="{'text-align':'center'}">
                <div class="item-detail"><a [routerLink]="['/user','edit',insc?.id]">{{insc.id}}</a> - {{insc.username}}</div>
                
                <hr class="ui-widget-content" style="border-top:0">
                
            </p-panel>
        </div>
    </ng-template-->
</p-dataView>
</p-panel>
</div>    