<form [formGroup]="inscripcionForm" (ngSubmit)="onSubmit(alumnoForm.value)">
    <p-panel header="Hola">
               <div *ngIf="inscripcionForm.get('id').value!=null" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Id:
                            </div>
                            <div class="ui-grid-row">    
                                    <div class="ui-grid-col-4">
                                        <input style="width:100%"   inscripcionForm="id" disabled />
                                    </div>

                            </div>    
                    </div>                    
                </div>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            D.N.I Persona:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <p-inputMask [formControl]="dniCtrl"  mask="99.999.999" formControlName="dni" ></p-inputMask>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese un D.N.I válido" 
                                *ngIf="inscripcionForm.get('dni').dirty && inscripcionForm.get('dni').errors && inscripcionForm.get('dni').errors.required"></p-message>
                        </div>
                    </div>
                </div>                   
         
    </p-panel>    
</form>    