<form [formGroup]="inscripcionForm" (ngSubmit)="onSubmit(inscripcionForm.value)">
    <p-panel header="Alta de Inscripción">

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            D.N.I Persona:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-3">
                                <p-inputMask  formControlName="dni"  mask="99.999.999" ></p-inputMask>
                                
                        </div>
                        <div class="ui-grid-col-2" *ngIf="(showLoading$ | async)">
                            <p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                        </div>                         
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese un D.N.I válido" 
                                *ngIf="inscripcionForm.get('dni').dirty && inscripcionForm.get('dni').errors?.required"></p-message>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="El D.N.I no existe"
                                *ngIf="inscripcionForm.get('dni').errors?.dniExist">
                            </p-message>    
                        </div>    
                    </div>
                    <div class="ui-grid-row">
                        {{apellido}} - {{nombre}}
                    </div>    
                </div>    







   
                <div *ngIf="!inscripcionForm.get('alumnoId').errors">

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Escuela de la que Proviene:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-3">
                                <p-autoComplete formControlName="escuelaProviene" [suggestions]="filteredEscuelas" 
                                    (completeMethod)="filterEscuelas($event)" field="descripcion" [size]="30"
                                    
                                    [minLength]="1" [dropdown]="true"></p-autoComplete>
                        </div>
                       
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese un D.N.I válido" 
                                *ngIf="inscripcionForm.get('escuelaProviene').dirty && inscripcionForm.get('escuelaProviene').errors?.required"></p-message>
                        </div>
 
                    </div>
 
                </div>    




                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Periodo Lectivo:
                                </div>    
                            </div>    

                            <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <p-autoComplete formControlName="periodoLectivo" [suggestions]="filteredPeriodos" 
                                            (completeMethod)="filterPeriodos($event)" field="anio" [size]="30"
                                            
                                            [minLength]="1" [dropdown]="true"></p-autoComplete>

                                        
                                    </div>    
                                </div>                       
                        </div>    

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        Turno:
                                    </div>    
                                </div>    
            
                                <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <p-autoComplete formControlName="turno" [suggestions]="filteredTurnos" 
                                                (completeMethod)="filterTurnos($event)" field="nombre" [size]="30"
                                                (onSelect)="inscripcionForm.get('curso').setValue(null);inscripcionForm.get('division').setValue(null)"                                        
                                                [minLength]="1" [dropdown]="true"></p-autoComplete>
            
                                            
                                        </div>    
                                    </div>                       
                        </div>  

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        Curso:
                                    </div>    
                                </div>    
            
                                <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <p-autoComplete formControlName="curso" [suggestions]="filteredCursos" 
                                                (completeMethod)="filterCursos($event)" field="nombre" [size]="30"
                                                (onSelect)="inscripcionForm.get('division').setValue(null)"        
                                                [minLength]="1" [dropdown]="true"></p-autoComplete>
            
                                            
                                        </div>    
                                    </div>                       
                        </div>  
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        División:
                                    </div>    
                                </div>    
            
                                <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <p-autoComplete formControlName="division" [suggestions]="filteredDivisiones" 
                                                (completeMethod)="filterDivisiones($event)" field="nombre" [size]="30"
                                                [minLength]="1" [dropdown]="true"></p-autoComplete>
            
                                            
                                        </div>    
                                    </div>                       
                        </div>   

                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        Condición:
                                    </div>    
                                </div>    
            
                                <div class="ui-grid-row">
                                        <div class="ui-grid-col-3">
                                            <p-dropdown formControlName="condicion_param" [options]="condiciones" 
                                                [autoDisplayFirst]="true"
                                                optionLabel="descripcion"></p-dropdown>

                                        </div>            
                                            
                                
                                </div>                       
                        </div>                                                                                                                                                                                                   
                </div>                            
    </p-panel>    
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"  style="margin: 10px 0px">
                

            <div class="ui-grid-row">        

                <div class="ui-grid-col-4">
                     <button pButton style="width:100%"  type="submit" label="Confirmar" [disabled]="!inscripcionForm.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>    
        </div>      
</form>    