<p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="changePassForm" (ngSubmit)="onSubmit(changePassForm.value)">
    <p-panel header="Validate">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Contraseña anterior *:
                </div>
                <div class="ui-grid-col-6">
                    <!--input pInputText type="text" formControlName="firstname" placeholder="Required"/-->
                    <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="password">
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Contraseña anterior is obligatoria" *ngIf="!changePassForm.controls['password'].valid&&changePassForm.controls['password'].dirty"></p-message>
                </div>
            </div>
            <!--div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Lastname is required" *ngIf="!changePassForm.controls['lastname'].valid&&changePassForm.controls['lastname'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error" [text]="changePassForm.controls['password'].errors['required'] ? 'Password is required' : changePassForm.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                        *ngIf="!changePassForm.controls['password'].valid&&changePassForm.controls['password'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Description:
                </div>
                <div class="ui-grid-col-6">
                    <textarea pInputTextarea type="text" formControlName="description"></textarea>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Gender *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Gender is required" *ngIf="!changePassForm.controls['gender'].valid&&changePassForm.controls['gender'].dirty"></p-message>
                </div>
            </div -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div >
                    <button pButton type="submit" class="ui-button-rounded ui-button-success" label="Submit" [disabled]="!changePassForm.valid"></button>
                    
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br>
                {{diagnostic}}
            </div>
        </div>
    </p-panel>
</form>