

<form [formGroup]="changePassForm" (ngSubmit)="onSubmit(changePassForm.value)">
<p-panel header="{{headerTitle}}">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <div *ngIf="changePassForm.get('id').value!=null" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                        <div class="ui-grid-col-1">
                            Id:
                        </div>
                </div>     

                <div class="ui-grid-row">    
                    <div class="ui-grid-col-2">
                        <input style="width:100%"   formControlName="id" disabled />
                    </div>

                </div>    

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3">
                            Nombre de Usuario:
                        </div>
                    </div>    
                    <div class="ui-grid-row">    
                            <div class="ui-grid-col-2">
                                <input style="width:100%"   formControlName="username" disabled />
                            </div>

                    </div>    
            </div>                                
            

            <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        Nueva Contraseña *:
                    </div>
            </div>
        
            <div class="ui-grid-row">        
                    <div class="ui-grid-col-6">
                        <input pPassword type="password" formControlName="password" placeholder="Requerido"/>
                    </div>
                    <div class="ui-grid-col-4">
                        <p-message severity="error" text="Ingrese Nueva Contraseña" *ngIf="!changePassForm.controls['password'].valid&&changePassForm.controls['password'].dirty"></p-message>
                    </div>
                </div>            
            </div>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        Repita Nueva Contraseña *:
                    </div>
            </div>     
            <div class="ui-grid-row">        
                    <div class="ui-grid-col-6">
                        <input pPassword type="password" formControlName="confirmPassword" placeholder="Requerido"/>
                    </div>
                    <div class="ui-grid-col-4">
                        <p-message severity="error" text="Repita Nueva Contraseña" *ngIf="!changePassForm.controls['confirmPassword'].valid&&changePassForm.controls['confirmPassword'].dirty"></p-message>
                    </div>
                           
            </div>  
        


    
</p-panel>    

<div class="ui-grid-row">
    <div class="ui-grid-col-2"></div>
    <div class="ui-grid-col-6">
        <button pButton type="submit" label="Confirmar" [disabled]="!changePassForm.valid"></button>
    </div>
    <div class="ui-grid-col-4"></div>
</div>  
</form>      
