

<!-- >p-card header="Autenticar" [style]="{width: '360px'}">      
  <form>
    <p class="h4 text-center py-4">Autenticar</p>

    <div class="input-group mb-3 md-form">
      <span class="ui-float-label">
          
          <input id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Nombre de usuario:</label>
          <i class="pi pi-user" style="font-size: 2em"></i>
      </span>
    </div>


    <div class="input-group mb-3 md-form">
      <span class="ui-float-label">
        <input pPassword type="password" pPassword size="30"/>
        <label for="float-input">Password:</label>
      </span>
    </div>

    
    <button pButton  type="submit" label="Success" class="ui-button-rounded ui-button-success"></button>      
    
    
  </form>
</p-card-->

<form #form="ngForm">
 
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">

			<p-panel header="Ingreso al sistema">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Recordarme
					</div>
					<div class="form-group col text-center">
						<button pButton type="button" (click)="login()" label="Ingresar" class="ui-button-rounded ui-button-success"></button>
						<!--button pButton type="button" (click)="showmsg()" label="Show msg" class="ui-button-rounded ui-button-success">
								</button -->
					</div>
				</form>
			</p-panel>	
			<div class="card-footer">

				<div class="d-flex justify-content-center">
					<a href="#">¿Olvidó contraseña?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</form>    

