<form [formGroup]="perfilForm" (ngSubmit)="onSubmit(perfilForm.value)">
    <p-panel header="{{headerTitle}}">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Descripción *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="descripcion" pInputText [pKeyFilter]="noSpecial" [pValidateOnly]="false">                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese descripción del Perfil" 
                                *ngIf="perfilForm.get('descripcion').dirty && perfilForm.get('descripcion').errors && perfilForm.get('descripcion').errors.required"></p-message>
                        </div>
                    </div>

                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px"> 
                    <div class="ui-grid-row">
                        <p-pickList [source]="authorities" [target]="authoritiesAdded" sourceHeader="Available" targetHeader="Selected" 
                            [responsive]="true" filterBy="descripcion" 
                            dragdrop="true" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand" 
                            [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                            <ng-template let-auth pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    
                                    <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{auth.id}} - {{auth.descripcion}}</div>
                                </div>
                            </ng-template>
                        </p-pickList>                    
                    </div>                    
                </div>    
        
    </p-panel>    

</form>

