<form [formGroup]="perfilForm" (ngSubmit)="onSubmit(perfilForm.value)">
    <p-panel header="{{headerTitle}}">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Descripción *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="descripcion" pInputText [pKeyFilter]="noSpecial" [pValidateOnly]="false">                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese descripción del Perfil" 
                                *ngIf="perfilForm.get('descripcion').dirty && perfilForm.get('descripcion').errors && perfilForm.get('descripcion').errors.required"></p-message>
                        </div>
                    </div>

                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px"> 
                    <div class="ui-grid-row">
                        <p-pickList [source]="authorities" [target]="authoritiesAdded" sourceHeader="Roles Disponibles" targetHeader="Roles Asignados" 
                            [responsive]="true" filterBy="authority" 
                            dragdrop="true" sourceFilterPlaceholder="Buscar por Descripción" targetFilterPlaceholder="Buscar por Descripción" 
                            [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                            <ng-template let-auth pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    
                                    <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{auth.id}} - {{auth.authority}}</div>
                                </div>
                            </ng-template>
                        </p-pickList>                    
                    </div>                    
                </div>    
        
    </p-panel>    
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"  style="margin: 10px 0px">
            

        <div class="ui-grid-row">        

            <div class="ui-grid-col-4">
                    <button pButton style="width:100%"  type="submit" label="Confirmar" [disabled]="!perfilForm.valid"></button>
            </div>
            <div class="ui-grid-col-4"></div>
        </div>    
    </div>  
    

</form>

