            <div class="item-details">
                <div>
                <div class="ui-g">
                    <div class="ui-g-12">Id: <b><a [routerLink]="['/user','edit',objeto?.id]" >{{objeto?.id}}</a></b></div>
                    <div class="ui-g-12">Nombre de Usuario: <b>{{objeto.username}}</b></div>
                    <div class="ui-g-12">Apellido: <b>{{objeto.apellido}}</b></div>
                    <div class="ui-g-12">Nombre: <b>{{objeto.nombre}}</b></div>
                    <div class="ui-g-12">Cambiar password:<a [routerLink]="['/changepass','edit',objeto?.id]"> <i class="fa fa-key"></i></a></div>
                </div>    
                </div>
            </div>