<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit(usuarioForm.value)">
        <p-panel header="{{headerTitle}}">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Nombre de Usuario *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="username"/>                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Nombre de Usuario es obligatorio" 
                                *ngIf="usuarioForm.get('username').dirty && usuarioForm.get('username').errors && usuarioForm.get('username').errors.required"></p-message>
                        </div>
                    </div>
                
                </div>  


              
            
                <div *ngIf="mode!='edit'" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Contraseña *:
                        </div>
                    </div>
                        
                        <div  class="ui-grid-row">   

                                <!--div class="input-group add-on">
                                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                        <div class="input-group-btn">
                                          <button class="btn btn-default" type="submit"><i class="fa fa-user"></i></button>
                                        </div>
                                </div -->                              
                            
                           
                                <div class="input-group add-on ui-grid-col-4">
                                        <input type="{{typeInputPassword}}" class="form-control"  formControlName="password"/>     
                                        <div class="input-group-btn">
                                                <button class="btn btn-default" (click)="togglePassword();" type="submit"><i class="{{(isPassword ? 'fa fa-eye-slash' : 'fa fa-eye')}}"></i></button>
                                        </div>
                                </div>
                            
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Contraseña es obligatorio" 
                                    *ngIf="usuarioForm.get('password').dirty && usuarioForm.get('password').errors && usuarioForm.get('password').errors.required"></p-message>
                            </div>
                        </div>
                
                </div>              

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Apellido *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="apellido"/>                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Apellido es obligatorio" 
                                *ngIf="usuarioForm.get('apellido').dirty && usuarioForm.get('apellido').errors && usuarioForm.get('apellido').errors.required"></p-message>
                        </div>
                    </div>
                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Nombre *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="nombre"/>                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Nombre es obligatorio" 
                                *ngIf="usuarioForm.get('nombre').dirty && usuarioForm.get('nombre').errors && usuarioForm.get('nombre').errors.required"></p-message>
                        </div>
                    </div>
                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            D.N.I:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="dni"/>                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="D.N.I es obligatorio" 
                                *ngIf="usuarioForm.get('dni').dirty && usuarioForm.get('dni').errors && usuarioForm.get('dni').errors.required"></p-message>
                        </div>
                    </div>
                
                </div> 

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Fecha Nacimiento:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <p-calendar  formControlName="fechaNacimientoUnbinding" [locale]="es"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1990:2030" dateFormat="dd/mm/yy"  [showIcon]="true"></p-calendar>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="D.N.I es obligatorio" 
                                *ngIf="usuarioForm.get('fechaNacimientoUnbinding').dirty && usuarioForm.get('fechaNacimientoUnbinding').errors && usuarioForm.get('fechaNacimientoUnbinding').errors.required"></p-message>
                        </div>
                    </div>
                
                </div>                 

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Domicilio:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input class="form-control"  style="width:100%" type="text"  formControlName="domicilio"/>                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Domicilio es obligatorio" 
                                *ngIf="usuarioForm.get('domicilio').dirty && usuarioForm.get('domicilio').errors && usuarioForm.get('domicilio').errors.required"></p-message>
                        </div>
                    </div>
                
                </div>

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px"> 
                    <div class="ui-grid-row">
                        <p-pickList (onMoveToSource)="OnMoveTarget($event)" 
                                (onMoveToTarget)="OnMoveTarget($event)" [source]="perfiles" 
                                [target]="perfilesAdded" sourceHeader="Perfiles Disponibles" 
                                targetHeader="Perfiles Asignados" 
                            [responsive]="true" filterBy="descripcion" 
                            dragdrop="true" sourceFilterPlaceholder="Filtrar por Descripción" targetFilterPlaceholder="Filtrar por Descripción" 
                            [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                            <ng-template let-perfil pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    
                                    <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{perfil.id}} - {{perfil.descripcion}}</div>
                                </div>
                            </ng-template>
                        </p-pickList>   
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Agregue los Perfiles" 
                                *ngIf="usuarioForm.get('perfiles').errors &&  usuarioForm.get('perfiles').errors.required"></p-message>
                        </div>                                         
                    </div>                    
                </div>                    
        </p-panel>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"  style="margin: 10px 0px">
                

            <div class="ui-grid-row">        

                <div class="ui-grid-col-4">
                     <button pButton style="width:100%"  type="submit" label="Confirmar" [disabled]="!usuarioForm.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>    
        </div>  
        
</form>