
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">        
<!-- p-virtualScroller [value]="usuarios" scrollHeight="500px" [itemSize]="200" [rows]="6" [cache]="false" 
    [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalLazyUsuariosLength">
        <ng-template let-usuario pTemplate="item">
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">id: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <a [routerLink]="['/user','edit',usuario?.id]" >{{usuario?.id}}</a>
                    </div>
 
        
                    <div class="ui-g-2 ui-sm-6">Apellido: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.apellido}}</div>

                    <div class="ui-g-2 ui-sm-6">Nombre: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.nombre}}</div>
                    
                    <div class="ui-g-2 ui-sm-6">Usuario: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.username}}</div>      

                    <div class="ui-g-2 ui-sm-6">Agregar Perfiles: </div>
                    <div class="ui-g-10 ui-sm-6"><a [routerLink]="['/perfilusuario',usuario?.id]"><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>                    
 
                    
                </div>
            </div>
        </ng-template>     
    <!--ng-template let-alumno pTemplate="loadingItem">
            
            <div class="ui-g-12 ui-md-8">
                <div  class="ui-g">
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                </div>
            </div>
        
    </ng-template-->        
<!-- /p-virtualScroller-->        
<p-dataView [value]="usuarios" [paginator]="true" [rows]="5"
    [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalLazyUsuariosLength">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by brand" (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <p-footer>Seleccione uno de la lista.</p-footer>
    <ng-template let-usuario pTemplate="listItem">
        <div>
            {{usuario.id}}
        </div>
    </ng-template>
    <ng-template let-usuario pTemplate="gridItem">
        <div class="ui-g-12 ui-md-3">
            {{usuario.apellido}}
        </div>
    </ng-template>
</p-dataView>
</div>