
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Filtro:
                </div>
            </div>
            <div class="ui-grid-row">  
                  
                <div class="ui-grid-col-8">
                    <input type="text" [formControl]="searchControl" placeholder="Desc.Perfil">                             
                </div>
            </div>
        </div>   
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">        
<p-virtualScroller [value]="usuarios" scrollHeight="500px" [itemSize]="200" [rows]="6" [cache]="false" 
    [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalLazyUsuariosLength">
        <ng-template let-usuario pTemplate="item">
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">id: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <a [routerLink]="['/user','edit',usuario?.id]" >{{usuario?.id}}</a>
                    </div>
 
        
                    <div class="ui-g-2 ui-sm-6">Apellido: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.apellido}}</div>

                    <div class="ui-g-2 ui-sm-6">Nombre: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.nombre}}</div>
                    
                    <div class="ui-g-2 ui-sm-6">Usuario: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.username}}</div>      

                    <div class="ui-g-2 ui-sm-6">Agregar Perfiles: </div>
                    <div class="ui-g-10 ui-sm-6"><a [routerLink]="['/perfilusuario',usuario?.id]"><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>                    
 
                    
                </div>
            </div>
        </ng-template>     
    <!--ng-template let-alumno pTemplate="loadingItem">
            
            <div class="ui-g-12 ui-md-8">
                <div  class="ui-g">
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                </div>
            </div>
        
    </ng-template-->        
</p-virtualScroller>        
</div>