
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">        
<!-- p-virtualScroller [value]="usuarios" scrollHeight="500px" [itemSize]="200" [rows]="6" [cache]="false" 
    [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalLazyUsuariosLength">
        <ng-template let-usuario pTemplate="item">
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">id: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <a [routerLink]="['/user','edit',usuario?.id]" >{{usuario?.id}}</a>
                    </div>
 
        
                    <div class="ui-g-2 ui-sm-6">Apellido: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.apellido}}</div>

                    <div class="ui-g-2 ui-sm-6">Nombre: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.nombre}}</div>
                    
                    <div class="ui-g-2 ui-sm-6">Usuario: </div>
                    <div class="ui-g-10 ui-sm-6">{{usuario?.username}}</div>      

                    <div class="ui-g-2 ui-sm-6">Agregar Perfiles: </div>
                    <div class="ui-g-10 ui-sm-6"><a [routerLink]="['/perfilusuario',usuario?.id]"><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>                    
 
                    
                </div>
            </div>
        </ng-template>     
    <!--ng-template let-alumno pTemplate="loadingItem">
            
            <div class="ui-g-12 ui-md-8">
                <div  class="ui-g">
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                </div>
            </div>
        
    </ng-template-->        
<!-- /p-virtualScroller-->        
<p-panel header="Listado de Usuarios">
<p-dataView  #dataView [value]="usuarios" [paginator]="true" [rows]="10"
    [lazy]="true"  (onLazyLoad)="loadData($event)" paginatorPosition="both"
     [totalRecords]="totalLazyUsuariosLength">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4" style="display: inline-flex">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar Por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                    <div style="position:relative"><p-toggleButton  onIcon="fa fa-sort-desc"
                            (onChange)="onSortChange($event)"
                            offIcon="fa fa-sort-asc" onLabel="" ofLabel=""  
                            [(ngModel)]="ascSort"></p-toggleButton></div>
                </div>
                
                    
                
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="text"  [formControl]="searchControl"  placeholder="Filtrar por " />
                        
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <p-footer>Seleccione uno de la lista.</p-footer>
    <ng-template let-usuario pTemplate="listItem">
        <div class="ui-g-12">
            <div class="item-details">
                <div>
                <div class="ui-g">
                    <div class="ui-g-12">Id: <b><a [routerLink]="['/user','edit',usuario?.id]" >{{usuario?.id}}</a></b></div>
                    <div class="ui-g-12">Nombre de Usuario: <b>{{usuario.username}}</b></div>
                    <div class="ui-g-12">Apellido: <b>{{usuario.apellido}}</b></div>
                    <div class="ui-g-12">Nombre: <b>{{usuario.nombre}}</b></div>
                    <div class="ui-g-12">Cambiar password:<a [routerLink]="['/changepass','edit',usuario?.id]"> <i class="fa fa-key"></i></a></div>
                </div>    
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-usuario pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="usuario.id" [style]="{'text-align':'center'}">
                <div class="item-detail"><a [routerLink]="['/user','edit',usuario?.id]">{{usuario.id}}</a> - {{usuario.username}}</div>
                <div class="item-detail">Cambiar password:<a [routerLink]="['/changepass','edit',usuario?.id]"> <i class="fa fa-key"></i></a></div>
                <hr class="ui-widget-content" style="border-top:0">
                <!--button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)" style="margin-top:0"></button -->
            </p-panel>
        </div>
    </ng-template>
</p-dataView>
</p-panel>
</div>