<p-dialog header="Promedios por Periodo" [(visible)]="displayPeriodos">
    <div *ngFor="let item of promPorPeriodos$  | async" class="row">
        <div class="col-xs-6 col-sm-3 col-md-4 col-log-3 col-xl-6">
            {{item.periodoEval }}:
        </div>    
        <div class="col-xs-6 col-sm-3 col-md-4 col-log-3 col-xl-6">
            {{item.promedio }}
        </div>    
        
    </div>  
    <p-footer>
        <button type="button" pButton icon="fa fa-times" style="width:100%"
                (click)="displayPeriodos=false" label="Cerrar"></button>
        
    </p-footer>      
</p-dialog>

<p-panel header="Listado de Promedios">
<p-dataView  #dataView [value]="examenes" [paginator]="true" [rows]="10"
    [lazy]="true"  (onLazyLoad)="loadData($event)" paginatorPosition="both"
     [totalRecords]="totalLazyExamenesLength">
    <p-header>
        <div class="container">


            <div class="input-group form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-3">
                    <p-dropdown [options]="filterOptions" [(ngModel)]="filterKey" placeholder="Filtrar Por" 
                        (onChange)="onFilterChange($event)">
                                                                                                                                                                               
                    </p-dropdown>

                </div>                    

            </div>     

            <div class="row">        
                <div class="col-xs-1 col-sm-1 col-md-1 col-log-1 col-xl-1">
                        <a href="#" #printInsc (click)="onPrintClick()" > 
                            <i class="fa fa-print fa-2x"></i>
                        </a>
                </div>                           

                <div class="col-xs-1 col-sm-1 col-md-1 col-log-1 col-xl-1">
                        <a href="#" (click)="onExportXlsClick(exam?.id,exam?.asignaturaId)" > <i class="fa fa-file-excel-o fa-2x"></i></a>
                </div>                           
            </div>    
                <!--div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div-->
         </div>
    </p-header>
    <p-footer>Seleccione uno de la lista.</p-footer>
    <ng-template let-exam pTemplate="listItem">
        <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-4 col-log-3 col-xl-3">
                        Asignatura: 
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">    
                        <b>{{exam?.asignatura}}</b>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-4 col-log-3 col-xl-3">
                        Id Alumno: 
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">    
                        <b><a [routerLink]="['/viewinsc',exam?.id]" >{{exam?.alumnoId}}</a></b>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-xs-6 col-sm-3 col-md-4 col-log-3 col-xl-3">
                        Apellido: 
                    </div>        
                    <div class="col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">
                        <b>{{exam.apellido}}</b>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-xs-6 col-sm-2 col-md-4 col-log-3 col-xl-3">
                        Nombre: 
                    </div>    
                    <div class="col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">
                        <b>{{exam.nombre}}</b>
                    </div>
                </div>    
                <div class="row">    
                    <div class="col-xs-6 col-sm-2 col-md-4 col-log-3 col-xl-3">
                        Curso: 
                    </div>    
                    <div class="col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">
                        <b>{{exam.curso}}</b>
                    </div>
                </div>  
                <div class="row">    
                    <div class="col-xs-6 col-sm-2 col-md-4 col-log-3 col-xl-3">
                        División: 
                    </div>    
                    <div class="col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">
                        <b>{{exam.division}}</b>
                    </div>
                </div>    
                <div class="row">             
                        
                            <div  class="col-xs-6 col-sm-2 col-md-4 col-log-3 col-xl-3">
                                Promedio: 
                            </div>    
                            <div  class="col-xs-4 col-sm-2 col-md-4 col-log-3 col-xl-2">
                                <b>{{exam.promedio}}</b>
                                <!--a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a-->
                            </div>
                </div>            
   
                <div class="row">          
                            <div class="col-xs-6 col-sm-2 col-md-4 col-log-3 col-xl-3">
                                Modificar Notas: 
                            </div>    
                            <div class="clearfix col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">
                                
                                <a [routerLink]="['/cargaexamenpromedio/'+exam?.asignaturaId,exam?.alumnoId]"> <i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                            </div>
                        
                </div>    
                <div class="row">          
                            <div class="col-xs-6 col-sm-2 col-md-4 col-log-3 col-xl-3">
                                Promedios detallados: 
                            </div>    
                            <div class="clearfix col-xs-3 col-sm-2 col-md-4 col-log-3 col-xl-2">
                                
                                <a href="#" (click)='onClickPromedio(exam?.id,exam?.asignaturaId)'> 
                                    <i class="fa fa-server fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                        
                </div>                               
            <hr class="mt-2 mb-3"/>
        </div> <!-- end div container -->
    </ng-template>
    <!--ng-template let-insc pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="insc.id" [style]="{'text-align':'center'}">
                <div class="item-detail"><a [routerLink]="['/user','edit',insc?.id]">{{insc.id}}</a> - {{insc.username}}</div>
                
                <hr class="ui-widget-content" style="border-top:0">
                
            </p-panel>
        </div>
    </ng-template-->
</p-dataView>
</p-panel>
