
<form [formGroup]="examenesForm" (ngSubmit)="onSubmit(examenesForm.value)">
    <p-panel header="Carga de Notas">
        
        <p-fieldset>
            <p-header *ngIf="alumno && periodosEval">
                {{(asignatura | async).descripcion}} - {{(alumno | async).apellido+' '+(alumno | async).nombre}}
                
            </p-header>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                    Periodo Lectivo:
                </div>    
                <div *ngIf="periodoLectivo"  class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                    {{periodoLectivo.value}}
                </div>    
                <div *ngIf="periodosEval" class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                    Curso y División:
                </div>    
                <div *ngIf="cursoDivision"  class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                    {{cursoDivision.value}}
                </div>            
                       
            </div>    
        </p-fieldset>    
        <div *ngIf="periodosEval" class="container">
            <p-fieldset  *ngFor="let peri of (periodosEval | async).periodos;let j=index ">
                <p-header>{{peri.descripcion}}  - Promedio: {{($promedios | async)[j]}}

                </p-header>
                 
                <div class="row" *ngFor="let keyFormControl of peri.keyFormControls;let i=index">    

                    <div   
                        class="align-middle m-1 col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-3">
                        
                        {{peri.labelArray[i]}}
                    </div>    

                    <div *ngIf="keyFormControl.indexOf('inas')==-1" class="m-1 col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                        
                        <input class="form-control"  style="width:100%"  
                            pInputText pKeyFilter="num"
                            type="text" formControlName="{{keyFormControl}}"
                            > 
                        
                    </div>  
                    <div *ngIf="keyFormControl.indexOf('inas')!=-1" class="m-1 col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                        
                        <input class="form-control"  style="width:100%"  
                            pInputText pKeyFilter="int"
                            type="text" formControlName="{{keyFormControl}}"> 
                        
                    </div>                      
                    <div 
                        class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                        <p-message severity="error" text="Ingrese un valor mayor a Cero"
                            *ngIf="keyFormControl.indexOf('inas')!=-1 && examenesForm.controls[keyFormControl].dirty && examenesForm.controls[keyFormControl].errors">
                        </p-message>                        
                    </div>      

                    <div 
                        class="col-xs-12 col-sm-6 col-md-4 col-log-3 col-xl-2">
                        <p-message severity="error" text="Ingrese un valor Cero o mayor"
                            *ngIf="keyFormControl.indexOf('inas')==-1 && examenesForm.controls[keyFormControl].dirty && examenesForm.controls[keyFormControl].errors?.required">
                        </p-message>  
                        <p-message severity="error" text="El promedio en el periodo es mayor a 6, por lo tanto, debe ingresar Cero como nota complementaria"
                            *ngIf="keyFormControl.indexOf('inas')==-1 && examenesForm.controls[keyFormControl].errors?.invalidComplementario">
                        </p-message>                                              
                    </div>                      
                
                </div>    

                <button pButton style="width:100%"
                    label="Cerrar Periodo" >

                </button>    
            </p-fieldset>   
        </div> 
        <div class="row">
             <button id="buttonConfirmId" pButton style="width:100%"  
                    type="submit" label="Confirmar" [disabled]="!examenesForm.valid">
             </button>
        </div>    

    </p-panel>    
</form>    