
<form [formGroup]="alumnoForm" (ngSubmit)="onSubmit(alumnoForm.value)">
    <p-tabView>
       
        <p-tabPanel header="Datos del Alumno">     
                <div *ngIf="alumnoForm.get('id').value!=null" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Id:
                            </div>
                            <div class="ui-grid-row">    
                                    <div class="ui-grid-col-4">
                                        <input formControlName="id" disabled />
                                    </div>

                            </div>    
                    </div>                    
                </div>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            D.N.I *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <p-inputMask mask="99.999.999" formControlName="dni" ></p-inputMask>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese un D.N.I válido" 
                                *ngIf="alumnoForm.get('dni').dirty && alumnoForm.get('dni').errors && alumnoForm.get('dni').errors.required"></p-message>
                        </div>
                    </div>
                </div>   

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Apellido *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input  style="width:100%" type="text"  formControlName="apellido" pInputText [pKeyFilter]="noSpecial" [pValidateOnly]="false">                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese apellido del alumno" 
                                *ngIf="alumnoForm.get('apellido').dirty && alumnoForm.get('apellido').errors && alumnoForm.get('apellido').errors.required"></p-message>
                        </div>
                    </div>

                
                </div>  
            
            

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Nombre *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <!--input  type="text" style="width:100%" pInputText   [pKeyFilter]="blockSpecial" [pValidateOnly]="false" formControlName="nombre" /-->
                                <input  style="width:100%" type="text"  formControlName="nombre" pInputText [pKeyFilter]="noSpecial" [pValidateOnly]="false" >                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese nombre del alumno" 
                                *ngIf="alumnoForm.get('nombre').dirty && alumnoForm.get('nombre').errors && alumnoForm.get('nombre').errors.required"></p-message>
                        </div>
                    </div>
                    

                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Fecha Nacimiento *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <!--input  type="text" style="width:100%" pInputText   [pKeyFilter]="blockSpecial" [pValidateOnly]="false" formControlName="nombre" /-->
                                <p-calendar formControlName="fechaNacimientoUnbinding" [locale]="es"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1990:2030" dateFormat="dd/mm/yy"  [showIcon]="true"></p-calendar>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese una fecha de nacimiento" 
                                *ngIf="alumnoForm.get('fechaNacimientoUnbinding').dirty && alumnoForm.get('fechaNacimientoUnbinding').errors && alumnoForm.get('fechaNacimientoUnbinding').errors.required"></p-message>
                        </div>
                    </div>
                    

                
                </div>  


                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Provincia *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <p-autoComplete formControlName="provincia" [suggestions]="filteredProvinces" 
                                    (completeMethod)="filterProvince($event)"
                                    (onSelect)="alumnoForm.get('localidad').setValue(null)"
                                     field="nombre" [size]="30"
                                     [minLength]="1" [dropdown]="true"></p-autoComplete>
            
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese provincia" 
                                *ngIf="alumnoForm.get('provincia').dirty && alumnoForm.get('provincia').errors && alumnoForm.get('provincia').errors.required"></p-message>
                        </div>
                    </div>

                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Localidad *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <p-autoComplete formControlName="localidad" [suggestions]="filteredLocalidades" 
                                    (completeMethod)="filterLocalidad($event)" field="nombre" [size]="30"
                                     [minLength]="1" [dropdown]="true"
                                    [disabled]="(alumnoForm.get('provincia').errors)"></p-autoComplete>
            
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese localidad" 
                                *ngIf="alumnoForm.get('localidad').dirty && alumnoForm.get('localidad').errors && alumnoForm.get('localidad').errors.required"></p-message>
                        </div>
                    </div>

                
                </div>  
                

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Dircción *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <input  style="width:100%" type="text"  formControlName="direccion" pInputText >                                
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese una dirección del alumno" 
                                *ngIf="alumnoForm.get('direccion').dirty && alumnoForm.get('direccion').errors && alumnoForm.get('direccion').errors.required"></p-message>
                        </div>
                    </div>
                
                </div>  

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            C.U.I.L *:
                        </div>
                    </div>
                    <div class="ui-grid-row">    
                        <div class="ui-grid-col-4">
                                <p-inputMask mask="99-99999999-9" formControlName="cuil" ></p-inputMask>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="Ingrese un C.U.I.L válido" 
                                *ngIf="alumnoForm.get('cuil').dirty && alumnoForm.get('cuil').errors && alumnoForm.get('cuil').errors.required"></p-message>
                        </div>
                    </div>
                </div>                   
        </p-tabPanel>        

        <p-tabPanel header="Datos del Tutor">

                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                D.N.I *:
                            </div>
                        </div>
                        <div class="ui-grid-row">    
                            <div class="ui-grid-col-4">
                                    <p-inputMask mask="99.999.999" formControlName="dniTutor" ></p-inputMask>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Ingrese un D.N.I válido" 
                                    *ngIf="alumnoForm.get('dniTutor').dirty && alumnoForm.get('dni').errors && alumnoForm.get('dniTutor').errors.required"></p-message>
                            </div>
                        </div>
                    </div>   
                    
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Apellido *:
                            </div>
                        </div>
                        <div class="ui-grid-row">    
                            <div class="ui-grid-col-4">
                                    <input  style="width:100%" type="text"  formControlName="apellidoTutor" pInputText [pKeyFilter]="noSpecial" [pValidateOnly]="false" >                                
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Ingrese apellido del tutor" 
                                    *ngIf="alumnoForm.get('apellidoTutor').dirty && alumnoForm.get('apellidoTutor').errors && alumnoForm.get('apellidoTutor').errors.required"></p-message>
                            </div>
                        </div>
    
                    
                    </div>  
                
                
    
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">   
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Nombre *:
                            </div>
                        </div>
                        <div class="ui-grid-row">    
                            <div class="ui-grid-col-4">
                                    <!--input  type="text" style="width:100%" pInputText   [pKeyFilter]="blockSpecial" [pValidateOnly]="false" formControlName="nombre" /-->
                                    <input  style="width:100%" type="text"  formControlName="nombreTutor" pInputText [pKeyFilter]="noSpecial" [pValidateOnly]="false" >                                
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Ingrese nombre del tutor" 
                                    *ngIf="alumnoForm.get('nombreTutor').dirty && alumnoForm.get('nombreTutor').errors && alumnoForm.get('nombreTutor').errors.required"></p-message>
                            </div>
                        </div>
                    </div>  

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    C.U.I.L *:
                                </div>
                            </div>
                            <div class="ui-grid-row">    
                                <div class="ui-grid-col-4">
                                        <p-inputMask mask="99-99999999-9" formControlName="cuilTutor" ></p-inputMask>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Ingrese un C.U.I.L válido" 
                                        *ngIf="alumnoForm.get('cuilTutor').dirty && alumnoForm.get('cuilTutor').errors && alumnoForm.get('cuilTutor').errors.required"></p-message>
                                </div>
                            </div>
                    </div>                      

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Parentesco *:
                                </div>
                            </div>
                            <div class="ui-grid-row">    
                                <div class="ui-grid-col-4">
                                <p-autoComplete formControlName="parentescoTutor" [suggestions]="filteredParentesco" 
                                    (completeMethod)="filterParentesco($event)" field="descripcion" [size]="30"
                                    [minLength]="1" [dropdown]="true"></p-autoComplete>

                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Ingrese parentesco" 
                                        *ngIf="alumnoForm.get('parentescoTutor').dirty && alumnoForm.get('parentescoTutor').errors && alumnoForm.get('parentescoTutor').errors.required"></p-message>
                                </div>
                            </div>
                    </div>                      
    
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Telefono 1 *:
                                </div>
                            </div>
                            <div class="ui-grid-row">    
                                <div class="ui-grid-col-4">
                                        <p-inputMask mask="9999-9999999" formControlName="telefono1" ></p-inputMask>
                                </div>
                                <div class="ui-grid-col-4">
                                    <p-message severity="error" text="Ingrese un teléfono válido" 
                                        *ngIf="alumnoForm.get('telefono1').dirty && alumnoForm.get('telefono1').errors && alumnoForm.get('telefono1').errors.required"></p-message>
                                </div>
                            </div>
                    </div>                      

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    Telefono 2:
                                </div>
                            </div>
                            <div class="ui-grid-row">    
                                <div class="ui-grid-col-4">
                                        <p-inputMask mask="9999-9999999" formControlName="telefono2" ></p-inputMask>
                                </div>

                            </div>
                    </div>                      


        </p-tabPanel>        
    
        <p-tabPanel header="Documentación">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="fotoDni" label="Fotocopia D.N.I" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="constanciaCuil" label="Constancia de C.U.I.L" binary="true"></p-checkbox>
                </div>    
            </div>    

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="constancia6grado" label="Constancia 6to. grado" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="actaNacimiento" label="Acta de nacimiento" binary="true"></p-checkbox>
                </div>    
            </div>    
            
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="constanciaRegular" label="Constancia alumno regular" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="foto4x4" label="Foto 4x4" binary="true"></p-checkbox>
                </div>    
            </div>       

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="fotoCarnetVac" label="Fotocopia carnet de vacunas" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="fichaMedica" label="Ficha médica" binary="true"></p-checkbox>
                </div>    
            </div>                    
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="aptitudFisica" label="Aptitud física" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="grupoSanguineo" label="Grupo sanguíneo" binary="true"></p-checkbox>
                </div>    
            </div>                    
            
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="fichaInscripcion" label="Ficha inscripción" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="libreta6grado" label="Libreta 6 grado" binary="true"></p-checkbox>
                </div>    
            </div>               
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="fotocopiaLibroMatriz" label="Fotocopia libro matriz" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="fotocopiaDniTutor" label="Fotocopia D.N.I tutor" binary="true"></p-checkbox>
                </div>    
            </div>               

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="fotocopiaLibroMatriz" label="Fotocopia libro matriz" binary="true"></p-checkbox>
                </div>
                <div class="ui-grid-col-2">    
                    <p-checkbox formControlName="fotocopiaDniTutor" label="Fotocopia D.N.I tutor" binary="true"></p-checkbox>
                </div>    
            </div>               

            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">                
                <div class="ui-grid-col-2">
                    <p-checkbox formControlName="constanciaCuilTutor" label="Constancia C.U.I.L tutor" binary="true"></p-checkbox>
                </div>
            </div>            
        </p-tabPanel>                

</p-tabView>                         
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"  style="margin: 10px 0px">
                

            <div class="ui-grid-row">        

                <div class="ui-grid-col-4">
                     <button pButton style="width:100%"  type="submit" label="Confirmar" [disabled]="!alumnoForm.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>    
        </div>  

</form>        
