<p-sidebar [(visible)]="display">
    <p-panelMenu [model]="items" ></p-panelMenu>
</p-sidebar>

<button type="text" (click)="display = true" 
  pButton icon="fa fa-bars" label="Menu"></button>      

<nav class="navbar navbar-light">
  
    <div class="container">

      <a class="navbar-brand" routerLink="/">Escuela</a>
  
      <ul class="nav navbar-nav pull-xs-right">
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/">
            Inicio
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/login">
            Ingreso al Sistema
          </a>
        </li>

        <li>
           Usuario: {{(currentUser | async)?.username}}
           Apellido: {{(currentUser | async)?.apellido}}
           Nombre: {{(currentUser | async)?.nombre}}
           Id: {{(currentUser | async)?.id}}
        </li>  

        <!--li class="nav-item">
          <a class="nav-link">
            Sign up
          </a>
        </li-->
  
      </ul>
  
    </div>
  </nav>