<div class="login-page">
<form novalidate #form="ngForm">
        <div class="form-group">
                <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText/> 
                        <label for="float-input">Username</label>
                    </span>            
        </div>            
        <div class="form-group">
                <span class="ui-float-label">
                        <input type="password" pPassword />
                        <label for="float-input">Username</label>
                    </span>            
        </div>  

</form>    
</div>