/* You can add global styles to this file, and also import other style files */


.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}



@media screen and (max-width: 640px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media screen and (min-width:641px) {
  .hidden-xs-down-639 {
    display: none !important;
  }
}
/*
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}
*/

.car-item .ui-md-3 {
  text-align: center;
}

.car-item .ui-g-10 {
  font-weight: bold;
}

.empty-car-item-index {
  background-color: #f1f1f1;
  width: 60px;
  height: 60px;
  margin: 36px auto 0 auto;
  animation: pulse 1s infinite ease-in-out;
}

.empty-car-item-image {
  background-color: #f1f1f1;
  width: 120px;
  height: 120px;
  animation: pulse 1s infinite ease-in-out;
}

.empty-car-item-text {
  background-color: #f1f1f1;
  height: 18px;
  animation: pulse 1s infinite ease-in-out;
}

.title-container {
  padding: 1em;
  text-align: right;
}

.sort-container {
  text-align: left;
}

@media (max-width: 40em) {
  .car-item {
      text-align: center;
  }
}


        .filter-container {
            text-align: center;
        }
        .item-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em;
            border-bottom: 1px solid #d9dad9;
        }
        .item-details > div {
            display: flex;
            align-items: center;
        }
        .item-details > div img {
            margin-right: 14px;
        }
        .item-detail {
            padding: 0 1em 1em 1em;
            border-bottom: 1px solid #d9dad9;
            margin: 1em;
        }
        .ui-panel-content {
            padding: 1em;
        }
        .dark-theme :host ::ng-deep .item-details,
        .dark-theme :host ::ng-deep .item-detail {
            border-bottom: 1px solid #191919;
        }
        
        @media (max-width: 1024px) {
            .item-details img {
                 width: 75px;
            }
            .filter-container {
                text-align: left;
            }
        }
