

<!-- >p-card header="Autenticar" [style]="{width: '360px'}">      
  <form>
    <p class="h4 text-center py-4">Autenticar</p>

    <div class="input-group mb-3 md-form">
      <span class="ui-float-label">
          
          <input id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Nombre de usuario:</label>
          <i class="pi pi-user" style="font-size: 2em"></i>
      </span>
    </div>


    <div class="input-group mb-3 md-form">
      <span class="ui-float-label">
        <input pPassword type="password" pPassword size="30"/>
        <label for="float-input">Password:</label>
      </span>
    </div>

    
    <button pButton  type="submit" label="Success" class="ui-button-rounded ui-button-success"></button>      
    
    
  </form>
</p-card-->
 
<form>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Text</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">
  </div>
</form>

    

